body {
    background-color: aqua;
    padding: 200px;
}

.parent {
    background-color: blueviolet;
    width: 100%;
    height: 500px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    flex-direction:initial;
    justify-content: center;
}

.child {
    background-color: #FFA3FD;
    width: 200px;
    height: 200px;
}
.child2 {
    background-color: #F16767;
    width: 200px;
    height: 250px;
}